<app-navbar></app-navbar>
<div class="container-fluid">
      <button class="btn btn-outline-success mt-3" data-bs-toggle="modal" data-bs-target="#addEmployee" type="submit" (click)="getAllDepartments()" (click)="getAllPositions()">Add Employee</button>
  
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">EmployeeId</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">BirthDate</th>
            <th scope="col">Position</th>
            <th scope="col">Department</th>
            <th scope="col">CreatedDate</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.birthdate | date: 'shortDate'}}</td>
            <td>{{employee.positionId}}</td>
            <td>{{employee.departmentIds}}</td>
            <td>{{employee.createdDate}}</td>
            <td>
              <button type="button" class="btn btn-outline-success me-2" routerLink="/managerEmployee">See Managers</button>
              <button type="button" class="btn btn-outline-success me-2" routerLink="/dependentEmployee">See Dependent Employees</button>
              <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editEmployee"  (click)="getAllDepartments()" (click)="getAllPositions()" (click)="editEmployee(employee.id)">Edit</button>
              <button type="button" class="btn btn-outline-danger" (click)="deleteEmployee(employee.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

  <!-- Add Employee Modal -->
  <div class="modal fade" id="addEmployee"  data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" [formGroup]="employeeForm">
                <div class="mb-3">
                  <label for="name"><p class="form-label">Name</p></label>
                  <input type="name" class="form-control"  id="name" formControlName="name" 
                  placeholder="Your Name"/>
                </div>
                <div class="mb-3">
                  <label for="surname"><p class="form-label">Surname</p></label>
                  <input type="surname" class="form-control"  id="surname" formControlName="surname" 
                  placeholder="Your Surname"/>
                  </div>
                  <div class="mb-3">
                    <label for="birthdate"><p class="form-label">Birthdate</p></label>
                    <input type="date" class="form-control"  id="birthdate" formControlName="birthdate" 
                    placeholder="Your Birthdate"/>
                  </div>
                  <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                      <option selected>Position</option>
                      <option *ngFor="let pos of positions">{{pos.name}}</option>
                    </select>
                  </div>
                  <div class="mb-3" >
                    <ng-multiselect-dropdown 
                      [placeholder]="'Departments'"
                      [settings]="dropdownSettings"
                      [data]="dropdownList"
                      [(ngModel)]="selectedDepartments">
                      </ng-multiselect-dropdown>
                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEmployee()">Add Employee</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Edit Employee Modal -->
  <div class="modal fade" id="editEmployee"  data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" [formGroup]="employeeForm">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Your Name">
                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Surname</label>
                    <input type="text" formControlName="surname" class="form-control" id="surname" aria-describedby="emailHelp" placeholder="Your Surname">
                  </div>
                  <div class="mb-3">
                    <label for="birthdate" class="form-label">BirthDate</label>
                    <input type="date" formControlName="birthdate" class="form-control" id="birthdate" aria-describedby="emailHelp" placeholder="Your Birthdate">
                  </div>
                  <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                      <option selected>Position</option>
                      <option *ngFor="let pos of positions">
                        {{pos.name}}</option>
                    </select>
                  </div>
                  <div class="mb-3" >
                    <ng-multiselect-dropdown 
                      [placeholder]="'Departments'"
                      [settings]="dropdownSettings"
                      [data]="dropdownList"
                      [ngModel]="selectedDepartments"
                      >
                      </ng-multiselect-dropdown>
                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" (click)="updateEmployee()" data-bs-dismiss="modal">Update</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>