<app-navbar></app-navbar>
<!-- For Users -->
<div class="container-fluid user">
    <p class="permission">All Permissions</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>kjhgfghjk</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- For Users -->


<!-- For Admin -->
<div class="container-fluid admin">
    <button class="btn btn-outline-success mt-3" data-bs-toggle="modal" data-bs-target="#addPermission" type="submit">Add Permission</button>

  <table class="table table-hover">
      <thead>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let alPers of permissions">
          <td>{{alPers.name}</td>
          <td>
              <button type="button" class="btn btn-outline-danger">Delete</button>
          </td>
      </tr>
      </tbody>
  </table>

<!-- Add Permission Modal -->
<div class="modal fade" id="addPermission"  data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Permission</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <!-- <form [formGroup]="permissionForm"> -->
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add Permission</button>
                </div>
            </form>
      </div>
    </div>
  </div>
</div>

</div>
<!-- For Admin -->