.nav-item .nav-link{
    margin-left: 20px;
}
.navbar-nav{
    margin-left: 120px;
}
.btn-outline-success {
    float: right;
}
*{
    font-family: 'Poppins', sans-serif;
}
.user{
    display: none;
}
.admin{
    visibility: visible;
}
.permission{
    text-align: center;
    font-size: larger;
    margin-top: 40px;
}