.nav-item .nav-link{
    margin-left: 20px;
}
.navbar-nav{
    margin-left: 120px;
}
.btn-outline-success {
    float: right;
}
*{
    font-family: 'Poppins', sans-serif;
}
table{
    font-size: 15px;
}